{% extends './base.html' %}

{% block title%}Dashboard{% endblock %}

{% block content%}
    <!-- List flashed messages -->
    <ul class="list-group list-group-flush">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <li class="list-group-item" style="color: green;">{{ message }}</li>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </ul>
    <ul class="nav nav-tabs card-header-tabs w-100 justify-content-around">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create_stock') }}">Create Stock</a>
        </li>
        <li class="nav-item">
            <!-- class = "active" determines which nav tab is selected for the page -->
            <a class="nav-link active" href="{{ url_for('create_account') }}">Create Account</a>
        </li>
    </ul>
{% endblock %}

{% block footer%}Footer{% endblock %}