{% extends './base.html' %}

{% block title%}Portfolio{% endblock %}

{% block content%}
    <ul class="nav nav-tabs card-header-tabs w-100">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_funds') }}">Add Funds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('with_funds') }}">Withdraw Funds</a>
        </li>
        <li class="nav-item"></li>
            <a class="nav-link" href="{{ url_for('trans_history') }}">Transaction History</a>
        </li>
    </ul>
{% endblock %}

{% block footer%}{% endblock %}