{% extends './base.html' %}

{% block title%}Transaction History{% endblock %}

{% block content%}
 <!-- Table for holding the stock data -->
 <table class="table table-hover">
    <!-- Table headings -->
    <thead>
        <tr>
            <th scope="col" class="text-center">Ticker</th>
            <th scope="col" class="text-center">Company</th>
            <th scope="col" class="text-center">Market Volume</th>
            <th scope="col" class="text-center">Volume Owned</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">TEST</th>
        <td class="text-center align-middle">Test Company</th>
        <td class="text-center align-middle">50</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">5</th>
        <td class="text-center align-middle">
        </tbody>
    </table>
{% endblock %}

{% block footer%}{% endblock %}