{% extends './base.html' %}

{% block title%}Add Funds{% endblock %}

{% block content%}
<!-- Add funds / return card -->
<div class="card mx-auto" style="width: 50rem;">
    <!-- Card nav tabs-->
    <div class="card-header">

    <!-- List group for flashed messages -->
    <ul class="list-group list-group-flush">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <li class="list-group-item" style="color: green;">{{ message }}</li>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </ul>
    
    <ul class="nav nav-tabs card-header-tabs w-100 justify-content-around">
        <li class="nav-item">
            <a class="nav-link active" href="#">Add Funds</a>
        </li>
        <li class="nav-item">
            <!-- class = "active" determines which nav tab is selected for the page -->
            <a class="nav-link" href="{{ url_for('routes.portfolio') }}">Return</a>
        </li>
    </ul>
    </div>
    <!-- Card content -->
    <div class="card-body">
    <form method="POST" action="" id="submit_form" onkeydown="if(event.keyCode === 13) { modal_button.click(); return false }">
        {{ form.hidden_tag() }}
        <!-- Deposit Amount field for form -->
        <p>
            Current balance: ${{ balance }}<br>
            {{ form.deposit_amount.label }}<br>
            {{ form.deposit_amount(id="dep_amt") }}<br>
    
            {% for error in form.deposit_amount.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <!-- Submit button -->
     
    </form>

    <script>

        function get_volume() {
            var deposit = document.getElementById('dep_amt').value;
            document.getElementById("amount_display").innerHTML = deposit;
        }

    </script>


    <button data-bs-toggle="modal" id="modal_button" onclick="get_volume()" data-bs-target="#transaction">
        Add Funds
    </button>
    
    <div class="modal fade" id="transaction" tabindex="-1" aria-hidden="true" onkeydown="if(event.keyCode === 13) { submit_form.submit() }">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Transaction</h1>
            </div>
            <div class="modal-body" id="submitPrompt">
                <p>Would you like to add $<span id="amount_display"></span> to your account?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="submit_form.submit()">Confirm</button>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block footer%}{% endblock %}