{% extends './base.html' %}

{% block title%}Purchase {{ ticker }}{% endblock %}

{% block content%}
<div class="row text-center">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <a style="color: red;" href="{{ url_for('routes.add_funds') }}">{{ message }}</br>Would you like to add funds?</a>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="row">
    <div class="col">
        <h2 >Test Company - TEST</h2>
        <h4>${{ price }} per share</h4>
        <h4>Current balance: ${{ balance }}</h4>
        <h4>Volume owned: {{ volume_owned }}</h4>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                Buy {{ ticker }}
            </div>
            <div class="card-body">
                <form method="POST" id="volume_form">
                    {{ volume_form.hidden_tag() }}
                    <!-- Stock input -->
                    <p>
                        How much {{ ticker }} would you like to purchase?<br>
                        {{ volume_form.stock_amount(value=1, id="volume", onkeyup="get_volume()") }}<br> 

                        {% for error in volume_form.stock_amount.errors %}
                        <span style="color: red;">[{{ error }}]</span><br   >
                        {% endfor %}
                    </p>    
                </form>
                <script>
                    function get_volume() {
                        var volume = document.getElementById('volume').value;
                        document.getElementById("volume_display").innerHTML = volume;
                        document.getElementById("price_display").innerHTML = (volume * 5.03).toFixed(2);
                    }
                </script>   

                <button data-bs-toggle="modal" onclick="get_volume()" data-bs-target="#transaction">
                    Submit
                </button>
                
                <div class="modal fade" id="transaction" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Transaction</h1>
                        </div>
                        <div class="modal-body" id="submitPrompt">
                            <p>Would you like to purchase <span id="volume_display"></span> {{ ticker }} for $<span id="price_display"></span>?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-primary" onclick="volume_form.submit()">Confirm</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer%}{% endblock %}