{% extends './base.html' %}

{% block title%}Admin Dashboard{% endblock %}

{% block content%}
    <!-- List flashed messages -->
    <ul class="list-group list-group-flush">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            {% set msg = message.split(';') %}
            <li class="list-group-item" style='color: {{ msg[1] }};'>{{ msg[0] }}</li>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </ul>
    <ul class="nav nav-pills card-header-pills w-100 justify-content-around">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('routes.create_stock') }}">Create Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('routes.market') }}">Modify Market Hours</a>
        </li>
    </ul>
</div>

<!-- Table for holding the stock data -->
<table class="table table-hover">
    <!-- Table headings -->
    <thead>
        <tr>
            <th scope="col" class="text-center">Ticker</th>
            <th scope="col" class="text-center">Company</th>
            <th scope="col" class="text-center">Market Price</th>
            <th scope="col" class="text-center">Market Volume</th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    {% for stock in stock %}
    {% if stock.market_volume > 0 %}
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">{{ stock.stock_ticker }}</th>
        <td class="text-center align-middle">{{ stock.company_name }}</th>
        <td class="text-center align-middle">${{ '%0.2f'| format(stock.market_price | float) }}</th>
        <td class="text-center align-middle">{{ stock.market_volume }}</th>
    </tbody>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}

{% block footer%}{% endblock %}