{% extends './base.html' %}

{% block title%}Dashboard{% endblock %}

{% block content%}
    <!-- List flashed messages -->
    <ul class="list-group list-group-flush">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            {% set msg = message.split(';') %}
            <li class="list-group-item" style='color: {{ msg[1] }};'>{{ msg[0] }}</li>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </ul>
    <ul class="nav nav-pills card-header-pills w-100 justify-content-around">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('routes.create_stock') }}">Create Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('routes.market') }}">Modify Market Hours</a>
        </li>
    </ul>
</div>

<!-- Table for holding the stock data -->
<table class="table table-hover">
    <!-- Table headings -->
    <thead>
        <tr>
            <th scope="col" class="text-center">Ticker</th>
            <th scope="col" class="text-center">Company</th>
            <th scope="col" class="text-center">Market Price</th>
            <th scope="col" class="text-center">Market Volume</th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    {% for stock in stock %}
    {% if stock.market_volume > 0 %}
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">{{ stock.stock_ticker }}</th>
        <td class="text-center align-middle">{{ stock.company_name }}</th>
        <td class="text-center align-middle">${{ '%0.2f'| format(stock.market_price | float) }}</th>
        <td class="text-center align-middle">{{ stock.market_volume }}</th>
    </tbody>
    {% endif %}
    {% endfor %}
   <!-- <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">1</th>
        <td class="text-center my-auto align-middle">TEST</th>
        <td class="text-center align-middle">Test Company</th>
        <td class="text-center align-middle">50</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$5.03</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">2</th>
        <td class="text-center my-auto align-middle">TSLA</th>
        <td class="text-center align-middle">Tesla Motors</th>
        <td class="text-center align-middle">75</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$74.23</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">3</th>
        <td class="text-center my-auto align-middle">APPL</th>
        <td class="text-center align-middle">Apple</th>
        <td class="text-center align-middle">80</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$59.17</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">4</th>
        <td class="text-center my-auto align-middle">CHPL</th>
        <td class="text-center align-middle">Chipotle</th>
        <td class="text-center align-middle">50</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$5.73</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">5</th>
        <td class="text-center my-auto align-middle">MOTW</th>
        <td class="text-center align-middle">MOTW Coffee and Pastries</th>
        <td class="text-center align-middle">50</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$0.82</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">6</th>
        <td class="text-center my-auto align-middle">GLDF</th>
        <td class="text-center align-middle">Goldfish</th>
        <td class="text-center align-middle">50</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$3.26</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">7</th>
        <td class="text-center my-auto align-middle">NIKE</th>
        <td class="text-center align-middle">Nike</th>
        <td class="text-center align-middle">50</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$54.96</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">8</th>
        <td class="text-center my-auto align-middle">GOOG</th>
        <td class="text-center align-middle">Google</th>
        <td class="text-center align-middle">50</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$93.49</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">9</th>
        <td class="text-center my-auto align-middle">TRGT</th>
        <td class="text-center align-middle">Target</th>
        <td class="text-center align-middle">50</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$6.89</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">10</th>
        <td class="text-center my-auto align-middle">DNKN</th>
        <td class="text-center align-middle">Dunkin' Donuts</th>
        <td class="text-center align-middle">50</th>
        <td class="text-center align-middle">0</th>
        <td class="text-center align-middle">$0.68</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Modify</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="#">Remove</button>
        </th>
    </tbody>-->
</table>
{% endblock %}

{% block footer%}{% endblock %}