<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Page title -->
    <title>{% block title %}SwiftStock.com{% endblock %}</title>
    <style>
        h1 {
            text-align: center;
            font-size: x-large;
            color: crimson;
        }
    </style>
</head>
<body>
  <!-- Bootstrap cdn -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 
  
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- Navbar title -->
        <a class="navbar-brand">SwiftStock.com</a>

        <!-- Navbar collapsability -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar buttons -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Left justified navbar buttons -->
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('routes.portfolio') }}">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('routes.stocks', page = 1) }}">Buy/Sell Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('routes.dashboard') }}">Dashboard</a>
            </li>
          </ul>

          <!-- Right justified navbar buttons -->
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('routes.login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('routes.logout') }}" onclick="return confirm('Are you sure you want to log out?')">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Market hours statement -->
  {% if current_hours.start_time == current_hours.end_time and current_hours.start_day == current_hours.end_day %}
  <h1>Current market hours: Open all day on {{ current_hours.start_day }}</h1>
  {% elif current_hours.start_time == current_hours.end_time %}
  <h1>Current market hours: Open all day on {{ current_hours.start_day }} through {{ current_hours.end_day }}</h1>
  {% elif current_hours.start_day == current_hours.end_day %}
  <h1>Current market hours: Open from {{ current_hours.start_time }} to {{ current_hours.end_time }} on {{ current_hours.start_day }}</h1>
  {% else %}
  <h1>Current market hours: Open from {{ current_hours.start_time }} to {{ current_hours.end_time }} on {{ current_hours.start_day }} through {{ current_hours.end_day }}</h1>
  {% endif %}

    <!-- Login / Create Account card -->
    <div class="card mx-auto" style="width: 50rem;">
        <!-- Card nav tabs-->
        <div class="card-header">

        <!-- List group for flashed messages -->
        <ul class="list-group list-group-flush">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                {% set msg = message.split(';') %}
                <li class="list-group-item" style='color: {{ msg[1] }};'>{{ msg[0] }}</li>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </ul>
        
        <ul class="nav nav-tabs card-header-tabs w-100 justify-content-around">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('routes.market') }}">Modify Market Hours</a>
            </li>
            <li class="nav-item">
                <!-- class = "active" determines which nav tab is selected for the page -->
                <a class="nav-link" href="{{ url_for('routes.dashboard') }}">Return</a>
            </li>
        </ul>
        </div>
        <!-- Card content -->
        <div class="card-body">

        <form method="POST" action="">
          <p>
            Start time:<br>
            {{ form.start_time() }} {{ form.XM_1() }}<br>
            End time:<br>
            {{ form.end_time() }} {{ form.XM_2() }}<br>
            Start day:<br>
            {{ form.start_day() }}<br>
            End day:<br>
            {{ form.end_day() }}<br><br>
            {{ form.submit }}
          </p>
        </form>
      </div>
    </div>

  </main>

  <!-- Footer content -->
  <footer>
      <small>{% block footer %}{% endblock %}</small>
  </footer>
</body>
</html>