{% extends './base.html' %}

{% block title%}Portfolio{% endblock %}

{% block content%}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <li class="list-group-item" style="color: green;">{{ message }}</li>
    {% endfor %}
{% endif %}
{% endwith %}

<style>
    h1{
        text-align: center;
        font-size: large;
        color: blue;
    }
    h2{
        text-align: center;
        font-size: large;
        color: blue;
    }
</style>
<h1>Stock Value: $415.40</h1>
<h2>Current Balance: ${{ '%0.2f'| format(balance|float) }}</h2>

<div class="card mx-auto" style="width: 50rem;">
    <!-- Card nav tabs-->
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills w-100 justify-content-around">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('routes.add_funds') }}">Add Funds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('routes.with_funds') }}">Withdraw Funds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('routes.trans_history', page = 1) }}">Transaction History</a>
            </li>
        </ul>
    </div>
<!-- Table for holding the stock data -->
<table class="table table-hover">
    <!-- Table headings -->
    <thead>
        <tr>
            <th scope="col" class="text-center">Ticker</th>
            <th scope="col" class="text-center">Company</th>
            <th scope="col" class="text-center">Today's Change</th>
            <th scope="col" class="text-center">Volume Owned</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center">Total Value</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">TEST</th>
        <td class="text-center align-middle">Test Company</th>
        <td class="text-center align-middle">-0.57%</th>
        <td class="text-center align-middle">11</th>
        <td class="text-center align-middle">$5.03</th>
        <td class="text-center align-middle">$55.33</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="{{ url_for('routes.buy', ticker = 'TSLA') }}">Buy</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="{{ url_for('routes.sell', ticker = 'TSLA') }}">Sell</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">TSLA</th>
        <td class="text-center align-middle">Tesla Motors</th>
        <td class="text-center align-middle">+3.12%</th>
        <td class="text-center align-middle">4</th>
        <td class="text-center align-middle">$74.23</th>
        <td class="text-center align-middle">$296.92</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="{{ url_for('routes.buy', ticker = 'TSLA') }}">Buy</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="{{ url_for('routes.sell', ticker = 'TSLA') }}">Sell</button>
        </th>
    </tbody>
    <tbody class="table-group-divider">
        <td class="text-center my-auto align-middle">GLDF</th>
        <td class="text-center align-middle">Goldfish</th>
        <td class="text-center align-middle">+8.35%</th>
        <td class="text-center align-middle">7</th>
        <td class="text-center align-middle">$3.26</th>
        <td class="text-center align-middle">$22.82</th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="{{ url_for('routes.buy', ticker = 'TSLA') }}">Buy</button>
        </th>
        <td class="text-center align-middle">
            <a class="btn btn-secondary" role="button" href="{{ url_for('routes.sell', ticker = 'TSLA') }}">Sell</button>
        </th>
    </tbody>
{% endblock %}

{% block footer%}{% endblock %}