{% extends './base.html' %}

{% block title%}Sell {{ ticker }}{% endblock %}

{% block content%}
<div class="row">
    <div class="col text-center">
        <h2 >Test Company - TEST</h2>
        <h4>$5.03 per share</h4>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                Sell {{ ticker }}
            </div>
            <div class="card-body">
                <form method="POST" id="volume_form">
                    {{ volume_form.hidden_tag() }}
                    <!-- Stock input -->
                    <p>
                        How much {{ ticker }} would you like to sell?<br>
                        {{ volume_form.stock_amount(onblur="volume_form.submit()") }}<br>
                
                        {% for error in volume_form.stock_amount.errors %}
                        <span style="color: red;">[{{ error }}]</span><br>
                        {% endfor %}
                    </p>
                </form>

                {% if volume_form.stock_amount.data is not none %}
                    {% set total = ('%0.2f' | format(volume_form.stock_amount.data * 5.03)) %}
                {% endif %}

                <form method="POST" id="submit_form">
                    {% if volume_form.stock_amount.data is none %}
                        <button onclick="return alert('Please enter a stock amount.')">Submit</button>
                    {% else %}
                        <button onclick="return confirm(
                            'Would you like to sell {{ volume_form.stock_amount.data }} {{ ticker }} for ${{ total }}?'
                        )">Submit</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer%}{% endblock %}