{% extends './base.html' %}

{% block title%}Sell {{ ticker }}{% endblock %}

{% block content%}
<div class="row">
    <div class="col text-center">
        <h2 >Test Company - TEST</h2>
        <h4>$5.03 per share</h4>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                Sell {{ ticker }}
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <!-- Stock input -->
                    <p>
                        How much {{ ticker }} would you like to sell?<br>
                        {{ form.stock_amount() }}<br>
                
                        {% for error in form.stock_amount.errors %}
                        <span style="color: red;">[{{ error }}]</span><br>
                        {% endfor %}
                    </p>
                    <!-- Calculate Price -->
                    <p>{{ form.submit() }}</p>
                    <p>
                        Total Value:<br>
                        ${{ price }}<br>
                    </p>
                    
                </form>
                <form method="POST" action="">
                    {{ form2.hidden_tag() }}
                    <!-- Confirm transaction popup -->
                    {{ form2.submit(onclick="return confirm('Confirm transaction? Please ensure that the total has been calculated for the most recent stock amount.')") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer%}{% endblock %}