{% extends './base.html' %}

{% block title%}Transaction History{% endblock %}

{% block content%}
 <!-- Table for holding the stock data -->
 <table class="table table-hover">
    <!-- Table headings -->
    <thead>
        <tr>
            <th scope="col" class="text-center">Transaction No.</th>
            <th scope="col" class="text-center">Ticker</th>
            <th scope="col" class="text-center">Company</th>
            <th scope="col" class="text-center">Volume Bought/Sold</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center">Date/Time</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <td class="text-center align-middle">3</th>
        <td class="text-center my-auto align-middle">TEST</th>
        <td class="text-center align-middle">Test Company</th>
        <td class="text-center align-middle">+11</th>
        <td class="text-center align-middle">$5.03</th>
        <td class="text-center align-middle">10/20/2024 2:13 PM</th>
        <td class="text-center align-middle">
        </tbody>

        <tbody class="table-group-divider">
            <td class="text-center align-middle">2</th>
            <td class="text-center my-auto align-middle">GLDF</th>
            <td class="text-center align-middle">Goldfish</th>
            <td class="text-center align-middle">+7</th>
            <td class="text-center align-middle">$3.26</th>
            <td class="text-center align-middle">10/20/2024 1:58 PM</th>
            <td class="text-center align-middle">
        </tbody>

        <tbody class="table-group-divider">
            <td class="text-center align-middle">1</th>
            <td class="text-center my-auto align-middle">TSLA</th>
            <td class="text-center align-middle">Tesla Motors</th>
            <td class="text-center align-middle">+4</th>
            <td class="text-center align-middle">$74.23</th>
            <td class="text-center align-middle">10/20/2024 1:50 PM</th>
            <td class="text-center align-middle">
        </tbody>
    </table>
{% endblock %}

{% block footer%}{% endblock %}