{% extends './base.html' %}

{% block title%}Transaction History{% endblock %}

{% block content%}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <li class="list-group-item" style="color: green;">{{ message }}</li>
    {% endfor %}
{% endif %}
{% endwith %}

<!-- Table for holding the stock data -->
 <table class="table table-hover">
    <!-- Table headings -->
    <thead>
        <tr>
            <th scope="col" class="text-center">Transaction No.</th>
            <th scope="col" class="text-center">Ticker</th>
            <th scope="col" class="text-center">Company</th>
            <th scope="col" class="text-center">Volume</th>
            <th scope="col" class="text-center">Balance Change</th>
            <th scope="col" class="text-center">Date/Time</th>
        </tr>
    </thead>
    {% for transaction in transactions %}
    <tbody class="table-group-divider">
        <td class="text-center align-middle">{{ transaction.transaction_id }}</th>
        <td class="text-center my-auto align-middle">{{ transaction.stock_ticker }}</th>
        <td class="text-center align-middle">{{ transaction.company_name }}</th>
        <td class="text-center align-middle">{{ transaction.purchase_volume }}</th>
        {% if transaction.purchase_volume > 0 %}
            <td class="text-center align-middle">+${{ transaction.purchase_price }}</th>
        {% else %}
            <td class="text-center align-middle">-${{ transaction.purchase_price }}</th>  
        {% endif %}
        <td class="text-center align-middle">{{ transaction.transaction_time }}</th>
    </tbody>
    {% endfor %} 
{% endblock %}

{% block footer%}{% endblock %}